<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <!-- Menu de Estilização -->
     <div th:insert="~{fragmentos/style}"></div>
</head>
<body>
    <!-- Barra de Menu -->
     <div th:insert="~{fragmentos/header :: header}"></div>
     <div class="container">
        <!-- Inserir o carrossel -->
     </div>

     <!-- footer -->

</body>
<script th:src="@{js/script.js}"></script>
</html>